/*__________GENERAL__________*/
/*Polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*SCSS*/
.restaurants h3, .howdoesitwork h3, header .booking h2 {
  font-size: 1.6rem;
  font-weight: 800;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-color: rgb(255, 255, 255);
  animation: background-disappear 1400ms 400ms forwards;
}
.loader .spinner {
  inset: 0;
  margin: auto;
  position: absolute;
  animation: spinner_disappear 500ms 700ms both;
}
.loader .spinner::before {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #ff79da;
  border-bottom: 10px solid #ff79da;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: 10;
  animation: spin 1.2s forwards;
  width: 100px;
  height: 100px;
}
.loader .spinner::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #99e2d0;
  border-bottom: 10px solid #99e2d0;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: 10;
  animation: reversespin 1.2s forwards;
  width: 70px;
  height: 70px;
}
.loader .spinner .spinner {
  animation: spinner_disappear 2s 1s forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(320deg);
  }
}
@keyframes reversespin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-490deg);
  }
}
@keyframes spinner_disappear {
  100% {
    transform: scale(0);
  }
}
@keyframes background-disappear {
  99% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    background-color: rgba(255, 255, 255, 0);
  }
}
.restaurants h3, .howdoesitwork h3, header .booking h2 {
  font-size: 1.6rem;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: black;
  min-width: 360px;
}

.menu-body {
  background-color: #f5f5f5;
}

main {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/*HEADER*/
header {
  position: relative;
}
header .logo {
  box-shadow: 0 1px 5px #c5c5c5;
}
header .logo > h1 {
  width: 200px;
  margin: auto;
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: center;
}
header .logo > h1 img {
  width: 175px;
}
header #return {
  position: absolute;
  top: 20px;
  left: 5%;
  font-size: 22px;
  color: black;
}
header #return-text {
  display: none;
}
header #return:active {
  color: #ff79da;
}
header #return:hover {
  color: #9356dc;
}
header .location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(114, 114, 114, 0.1568627451);
  font-size: 17px;
  font-weight: 600;
  color: #343434;
  padding-left: 20px;
}
header .location input {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #343434;
  margin: 8px;
  padding: 8px 5px;
  display: flex;
  justify-content: center;
  width: 150px;
  outline: none;
  border-radius: 8px;
}
header .location input::-webkit-search-cancel-button {
  display: none;
}
header .location input:hover, header .location input:focus {
  background-color: rgb(248, 248, 248);
}
header .booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  text-align: center;
  background-color: #f5f5f5;
}
header .booking h2 {
  padding: 0 9%;
  margin: 10px;
}
header .booking p {
  margin: 3px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 5%;
}
header .booking .explore-btn {
  margin: 30px auto;
  border: none;
  background: linear-gradient(355deg, #9356dc, 50%, #ff79da);
  padding: 17px 22px;
  border-radius: 50px;
  font-size: 1.05rem;
  font-weight: 500;
  box-shadow: 0px 5px 7px #bfbfbf;
  transition: 0.2s;
}
header .booking .explore-btn a {
  color: white;
  margin: 0;
}
header .booking .explore-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 5px 7px #9d9d9d;
  background: linear-gradient(355deg, #9c61e4, 50%, #fd85db);
}

/*________Section 1: HOW DOES IT WORK________*/
.howdoesitwork {
  margin: 40px 4% 40px 5%;
}
.howdoesitwork ul {
  padding: 0;
}
.howdoesitwork h3 {
  margin-bottom: 0;
}
.howdoesitwork .steps-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin: 25px 1% 25px 3%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.501);
  padding: 20px 0;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}
.howdoesitwork .steps-container:hover {
  background-color: rgb(235, 222, 254);
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.853);
}
.howdoesitwork .steps-container:hover .fa-solid {
  color: #9356dc;
}
.howdoesitwork .steps-container p {
  margin: 5px 0;
}
.howdoesitwork .steps-container .fa-solid {
  color: #777777;
  font-size: 20px;
  margin: 0 10%;
}
.howdoesitwork .steps-container .fa-laptop {
  display: none;
}
.howdoesitwork .steps-container .steps-numbers {
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: -15px;
}

/*_________Section 2: RESTAURANTS_________*/
.restaurants {
  padding: 20px 5% 5% 5%;
  background-color: #f5f5f5;
}
.restaurants ul {
  padding: 0;
}
.restaurants ul li {
  list-style-type: none;
}
.restaurants-container {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 0 0 20px 0;
  box-shadow: 0px 3px 10px rgba(191, 191, 191, 0.66);
  transition: 0.4s;
}
.restaurants-container:hover {
  transform: scale(1.02);
}
.restaurants-container__text {
  margin: 16px 15px;
}
.restaurants-container a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}
.restaurants-container h4 {
  margin: 0 0 3px 0;
  font-size: 19px;
  font-weight: 700;
}
.restaurants-container p {
  margin: 4px 0 0 0;
  font-size: 18px;
  font-weight: 300;
}
.restaurants-container .new {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99e2d0;
  padding: 7px 10px 5px 10px;
  border-radius: 3px;
  color: #02934b;
  font-size: 15px;
  font-weight: 500;
}
.restaurants .heart {
  position: absolute;
  right: 10px;
  bottom: 32px;
  cursor: pointer;
  background: none;
  stroke: none;
}
.restaurants .heart--empty {
  z-index: 1;
  fill: transparent;
}
.restaurants .heart--empty:hover {
  display: none;
}
.restaurants .heart--filled {
  z-index: 0;
  fill: transparent;
  stroke: #0c0c0c;
  stroke-width: 1.5px;
}
.restaurants .heart--filled:hover {
  fill: url(#text-fill);
  z-index: 1;
  stroke: none;
  animation: scale-up 300ms both;
}
@keyframes scale-up {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.1);
  }
}
.restaurants img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

/*_______________MENU_______________*/
.background-menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  background-color: #f5f5f5;
  position: relative;
  top: -50px;
  border-radius: 50px 50px 0 0;
  padding: 13px 4%;
  max-width: 1200px;
}
.menu .heart {
  position: absolute;
  right: 10px;
  bottom: 32px;
  cursor: pointer;
  background: none;
  stroke: none;
  position: absolute;
  right: 50px;
  top: 35px;
  cursor: pointer;
}
.menu .heart--empty {
  z-index: 1;
  fill: transparent;
}
.menu .heart--empty:hover {
  display: none;
}
.menu .heart--filled {
  z-index: 0;
  fill: transparent;
  stroke: #0c0c0c;
  stroke-width: 1.5px;
}
.menu .heart--filled:hover {
  fill: url(#text-fill);
  z-index: 1;
  stroke: none;
  animation: scale-up 300ms both;
}
@keyframes scale-up {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.1);
  }
}
.menu h2 {
  font-family: shrikhand, sans-serif;
  font-size: 28px;
  color: #0c0c0c;
  margin-left: 1%;
  font-weight: 400;
}
.menu h3 {
  font-size: 15px;
  font-weight: 400;
  color: #0c0c0c;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
  width: 40px;
}
.menu .three_courses {
  margin-bottom: 40px;
}
.menu .three_courses:first-child {
  animation: appear 1s 800ms ease-in-out backwards;
}
.menu .three_courses:nth-child(2) {
  animation: appear 1s 1s ease-in-out backwards;
}
.menu .three_courses:nth-child(3) {
  animation: appear 1s 1.2s ease-in-out backwards;
}
@keyframes appear {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu .courses-container {
  background-color: white;
  padding: 1rem;
  margin: 15px 0;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgba(114, 114, 114, 0.1568627451);
  display: flex;
  align-items: center;
  height: 4rem;
  overflow: hidden;
}
.menu .courses-container .menu-text {
  width: 85%;
  margin-right: 8%;
  line-height: 22px;
}
.menu .courses-container .menu-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.menu .courses-container .price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
  height: 38px;
  color: black;
  background-color: white;
  padding: 0 0 0 2%;
  margin: 0 2% 0 0;
}
.menu .courses-container:hover {
  cursor: pointer;
}
.menu .courses-container:hover .menu-text {
  animation: narrowing 1s both;
}
@keyframes narrowing {
  from {
    width: 85%;
  }
  to {
    width: 73.5%;
    margin: 0;
  }
}
.menu .courses-container:hover .check-animation {
  background-color: #99e2d0;
  animation: scale-in-hor-right 0.5s both;
}
.menu .courses-container:hover .check-animation .fa-solid {
  color: #99e2d0;
  animation: check-rotation 1s both;
}
@keyframes check-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu .courses-container .check-animation {
  background-color: transparent;
  margin: -1rem -100% -1rem 0;
  width: 20%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .courses-container .check-animation .fa-solid {
  color: transparent;
  padding: 5px;
  border-radius: 50%;
  font-size: 15px;
  background-color: white;
}
.menu .courses-name {
  font-size: 17px;
  font-weight: 600;
}
.menu .courses-description {
  font-size: 14px;
  font-weight: 400;
}
.menu .order {
  margin: 40px auto 0 auto;
  border: none;
  background: linear-gradient(355deg, #9356dc, 50%, #ff79da);
  padding: 17px 22px;
  border-radius: 50px;
  font-size: 1.05rem;
  font-weight: 500;
  box-shadow: 0px 5px 7px #bfbfbf;
  transition: 0.2s;
  padding: 17px 52px;
  width: 196px;
  color: white;
}
.menu .order a {
  color: white;
  margin: 0;
}
.menu .order:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 5px 7px #9d9d9d;
  background: linear-gradient(355deg, #9c61e4, 50%, #fd85db);
}

@media (min-width: 40px) and (max-width: 1023px) {
  @keyframes narrowing {
    from {
      width: 80%;
    }
    to {
      width: 66%;
    }
  }
}
/*___________FOOTER__________*/
footer {
  background-color: #363636;
  padding: 30px 25px 15px 25px;
}
footer .footer-link {
  position: relative;
}
footer .footer-link .margin-left {
  margin-left: 7%;
}
footer .footer-text {
  margin-bottom: 30px;
}
footer img {
  color: white;
  width: 100px;
  margin-bottom: 10px;
}
footer .fa-solid {
  font-size: 15px;
  color: white;
  position: absolute;
  left: 0px;
}
footer a p {
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin: 6px 0;
}
footer p {
  font-size: 12px;
  color: #bcbcbc;
  margin-bottom: 0;
  text-align: center;
}

/*_________________---RESPONSIVE---__________________*/
/*_____________Version Tablet---RESPONSIVE---___________*/
@media (min-width: 500px) {
  /*____________PAGE D'ACCUEIL---RESPONSIVE:tablet---__________*/
  .howdoesitwork .steps-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .howdoesitwork .steps-container {
    width: 62%;
    margin: 7px auto;
  }
  .howdoesitwork .steps-container .fa-solid {
    font-size: 25px;
    left: 17%;
  }
  .howdoesitwork .steps-container p {
    font-size: 18px;
    font-weight: 500;
  }

  .restaurants {
    background-color: transparent;
    padding: 0 5% 3% 5%;
  }
  .restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants-container {
    width: 48%;
  }

  /*____________PAGE DU MENU---RESPONSIVE:tablet---____________*/
  .background-menu img {
    height: 500px;
  }

  /*______________FOOTER---RESPONSIVE:tablet---_____________*/
  .footer-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container .footer-text {
    width: 200px;
  }
  .footer-container .footer-text .fa-solid {
    left: -10px;
  }
  .footer-container .margin-left {
    margin-left: 200%;
  }
}
/*correctif de l'animation du check pour la version TABLET*/
@media (min-width: 450px) and (max-width: 1023px) {
  @keyframes narrowing {
    from {
      width: 80%;
    }
    to {
      width: 67.5%;
    }
  }
}
/*____________________Version Desktop---RESPONSIVE---_____________________*/
@media (min-width: 1024px) {
  /*___________PAGE D'ACCUEIL---RESPONSIVE:desktop---___________*/
  .restaurants-container:first-child, .howdoesitwork .steps-container:first-child {
    margin-left: 0;
  }
  .restaurants-container:last-child, .howdoesitwork .steps-container:last-child {
    margin-right: 0;
  }

  .howdoesitwork .steps-list {
    flex-direction: row;
  }
  .howdoesitwork .steps-container {
    width: 31.6%;
    margin-right: 2%;
  }
  .howdoesitwork .steps-container .fa-solid {
    left: 9%;
  }
  .howdoesitwork .steps-container .fa-laptop {
    display: inline;
    font-size: 20px;
  }
  .howdoesitwork .steps-container .fa-mobile-screen-button {
    display: none;
  }

  .restaurants {
    margin-bottom: 60px;
  }
  .restaurants-list {
    flex-wrap: nowrap;
  }
  .restaurants-container {
    margin: 0 10px;
  }
  .restaurants-container img {
    height: 350px;
  }

  /*____________PAGE DU MENU---RESPONSIVE:desktop---____________*/
  header #return {
    left: 1%;
    top: 10px;
    font-size: 25px;
    padding: 10px;
  }
  header #return:hover {
    border-radius: 25px;
  }
  header #return-text {
    display: initial;
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
  }

  .background-menu img {
    height: 500px;
  }

  .menu {
    margin: 0px auto 0px auto;
  }
  .menu .menu-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .menu .three_courses {
    margin: 0 1%;
  }
  .menu .order {
    margin: 40px auto;
  }

  .menu-body {
    background-color: transparent;
  }

  /*______________FOOTER---RESPONSIVE:desktop---_____________*/
  footer {
    padding: 50px 0 15px 0;
    margin-top: -50px;
  }
  footer img {
    width: 200px;
  }
  footer .footer-container .footer-text {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    min-width: 992px;
    max-width: 1600px;
  }
  footer .footer-container .footer-link {
    margin: 20px 40px 40px 40px;
  }
  footer .footer-container .footer-link .fa-solid {
    left: -20px;
  }
  footer .footer-container .footer-link .margin-left {
    margin-left: 10px;
  }
  footer .footer-container p {
    border-bottom: 1px solid #363636;
    margin-left: 10px;
    font-size: 17px;
  }
  footer .footer-container a:hover p {
    border-bottom: white 1px solid;
  }
  footer .footer-container a:hover .fa-solid {
    color: #ff79da;
  }
}

/*# sourceMappingURL=style.css.map */
