/*__________PAGE DE CHARGEMENT__________*/
@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-color: rgb(255, 255, 255);
  animation: background-disappear 1400ms 400ms forwards;

  .spinner {
    inset: 0;
    margin: auto;
    position: absolute;
    animation: spinner_disappear 500ms 700ms both;
    &::before {
      @include loading-spinner(100px, spin, $secondary);
    }
    &::after {
      @include loading-spinner(70px, reversespin, $tertiary);
    }
    .spinner {
      animation: spinner_disappear 2s 1s forwards;
    }
  }
}

@keyframes spin {
  /*animation spinner*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(320deg);
  }
}

@keyframes reversespin {
  /*animation spinner*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-490deg);
  }
}
@keyframes spinner_disappear {
  /*disparition du spinner*/
  100% {
    transform: scale(0);
  }
}

@keyframes background-disappear {
  /* disparition du fond de la page de chargement*/
  99% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    background-color: rgba(255, 255, 255, 0);
  }
}
