/*__________GENERAL__________*/
/*Polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/*SCSS*/
@import "./_loading-page";

@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: black;
  min-width: 360px;
}

.menu-body {
  background-color: $lighter-grey;
}

main {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/*HEADER*/
header {
  position: relative;
  .logo {
    box-shadow: 0 1px 5px #c5c5c5;
    >h1
    /*logo = titre de la page*/ {
      width: 200px;
      margin: auto;
      padding: 20px 0 10px 0;
      display: flex;
      justify-content: center;
      img {
        width: 175px;
      }
    }
  }
  #return {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 22px;
    color: black;
    &-text {
      display: none;
    }
    &:active {
      color: $secondary;
    }
    &:hover {
      color: $primary;
    }
  }
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #72727228;
    font-size: 17px;
    font-weight: 600;
    color: #343434;
    padding-left: 20px;

    input {
      background-color: transparent;
      border: none;
      font-weight: 600;
      color: #343434;
      margin: 8px;
      padding: 8px 5px;
      display: flex;
      justify-content: center;
      width: 150px;
      outline: none;
      border-radius: 8px;

      &::-webkit-search-cancel-button {
        display: none;
      }
      &:hover,
      &:focus {
        background-color: rgb(248, 248, 248);
      }
    }
  }
  .booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    background-color: $lighter-grey;
    h2 {
      @extend %titles;
      padding: 0 9%;
      margin: 10px;
    }
    p {
      margin: 3px;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 5%;
    }
    .explore-btn {
      @include button-style(30px auto);
    }
  }
}

/*________Section 1: HOW DOES IT WORK________*/
.howdoesitwork {
  margin: 40px 4% 40px 5%;
  ul {
    padding: 0;
  }
  h3 {
    @extend %titles;
    margin-bottom: 0;
  }
  .steps-container {
    display: flex;
    align-items: center;
    background-color: $lighter-grey;
    margin: 25px 1% 25px 3%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.501);
    padding: 20px 0;
    font-size: 17px;
    font-weight: 500;
    position: relative;

    &:hover {
      background-color: rgb(235, 222, 254);
      cursor: pointer;
      box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.853);

      .fa-solid {
        color: $primary;
      }
    }
    p {
      margin: 5px 0;
    }
    .fa-solid {
      color: #777777;
      font-size: 20px;
      margin: 0 10%;
    }
    .fa-laptop {
      display: none;
    }
    .steps-numbers {
      background-color: $primary;
      border-radius: 50%;
      color: white;
      padding: 5px 9px;
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      left: -15px;
    }
  }
}

/*_________Section 2: RESTAURANTS_________*/
.restaurants {
  padding: 20px 5% 5% 5%;
  background-color: $lighter-grey;

  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  h3 {
    @extend %titles;
  }
  &-container {
    position: relative;
    background-color: white;
    border-radius: 15px;
    margin: 0 0 20px 0;
    box-shadow: 0px 3px 10px rgba(191, 191, 191, 0.66);
    transition: 0.4s;
    &:hover {
      transform: scale(1.02);
    }
    &__text {
      margin: 16px 15px;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: black;
    }
    h4 {
      margin: 0 0 3px 0;
      font-size: 19px;
      font-weight: 700;
    }
    p {
      margin: 4px 0 0 0;
      font-size: 18px;
      font-weight: 300;
    }
    .new {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: $tertiary;
      padding: 7px 10px 5px 10px;
      border-radius: 3px;
      color: #02934b;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .heart {
    @include heart-style;
  }
  img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
}

/*_______________MENU_______________*/
.background-menu {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.menu {
  background-color: $lighter-grey;
  position: relative;
  top: -50px;
  border-radius: 50px 50px 0 0;
  padding: 13px 4%;
  max-width: 1200px;
  .heart {
    @include heart-style;
    position: absolute;
    right: 50px;
    top: 35px;
    cursor: pointer;
  }
  h2 {
    font-family: shrikhand, sans-serif;
    font-size: 28px;
    color: #0c0c0c;
    margin-left: 1%;
    font-weight: 400;
  }
  h3 {
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0c;
    border-bottom: 3px solid $tertiary;
    padding-bottom: 3px;
    width: 40px;
  }
  .three_courses {
    margin-bottom: 40px;
    &:first-child {
      animation: appear 1s 800ms ease-in-out backwards;
    }
    &:nth-child(2) {
      animation: appear 1s 1s ease-in-out backwards;
    }
    &:nth-child(3) {
      animation: appear 1s 1.2s ease-in-out backwards;
    }
  }

  @keyframes appear {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .courses {
    &-container {
      background-color: white;
      padding: 1rem;
      margin: 15px 0;
      position: relative;
      border-radius: 15px;
      box-shadow: 0 5px 8px $darker-grey;
      display: flex;
      align-items: center;
      height: 4rem;
      overflow: hidden;
      .menu-text {
        width: 85%;
        margin-right: 8%;
        line-height: 22px;
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin: 0;
          width: 100%;
        }
      }
      .price {
        display: flex;
        align-items: flex-end;
        font-weight: 600;
        font-size: 14px;
        height: 38px;
        color: black;
        background-color: white;
        padding: 0 0 0 2%;
        margin: 0 2% 0 0;
      }
      &:hover {
        cursor: pointer;
        .menu-text {
          animation: narrowing 1s both;
          @keyframes narrowing {
            from {
              width: 85%;
            }
            to {
              width: 73.5%;
              margin: 0;
            }
          }
        }
        .check-animation {
          background-color: $tertiary;
          animation: scale-in-hor-right 0.5s both;
          .fa-solid {
            color: $tertiary;
            animation: check-rotation 1s both;
            @keyframes check-rotation {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
      .check-animation {
        background-color: transparent;
        margin: -1rem -100% -1rem 0;
        width: 20%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-solid {
          color: transparent;
          padding: 5px;
          border-radius: 50%;
          font-size: 15px;
          background-color: white;
        }
      }
    }
    &-name {
      font-size: 17px;
      font-weight: 600;
    }
    &-description {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .order {
    @include button-style(40px auto 0 auto);
    padding: 17px 52px;
    width: 196px;
    color: white;
  }
}

@media (min-width: 40px) and (max-width: 1023px) {
  .courses-container {
    &:hover {
      @keyframes narrowing {
        from {
          width: 80%;
        }
        to {
          width: 66%;
        }
      }
    }
  }
}
/*___________FOOTER__________*/
footer {
  background-color: #363636;
  padding: 30px 25px 15px 25px;
  .footer-link {
    position: relative;
    .margin-left {
      margin-left: 7%;
    }
  }
  .footer-text {
    margin-bottom: 30px;
  }
  img {
    color: white;
    width: 100px;
    margin-bottom: 10px;
  }
  .fa-solid {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 0px;
  }
  a p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 6px 0;
  }
  p {
    font-size: 12px;
    color: #bcbcbc;
    margin-bottom: 0;
    text-align: center;
  }
}
/*_________________---RESPONSIVE---__________________*/

/*_____________Version Tablet---RESPONSIVE---___________*/
@media (min-width: 500px) {
  /*____________PAGE D'ACCUEIL---RESPONSIVE:tablet---__________*/
  .howdoesitwork {
    .steps-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .steps-container {
      width: 62%;
      margin: 7px auto;
      .fa-solid {
        font-size: 25px;
        left: 17%;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .restaurants {
    background-color: transparent;
    padding: 0 5% 3% 5%;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-container {
      width: 48%;
    }
  }

  /*____________PAGE DU MENU---RESPONSIVE:tablet---____________*/
  .background-menu {
    img {
      height: 500px;
    }
  }

  /*______________FOOTER---RESPONSIVE:tablet---_____________*/

  .footer-container {
    .footer-text {
      width: 200px;
      .fa-solid {
        left: -10px;
      }
    }
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .margin-left {
      margin-left: 200%;
    }
  }
}
/*correctif de l'animation du check pour la version TABLET*/
@media (min-width: 450px) and (max-width: 1023px) {
  .courses-container {
    &:hover {
      @keyframes narrowing {
        from {
          width: 80%;
        }
        to {
          width: 67.5%;
        }
      }
    }
  }
}

/*____________________Version Desktop---RESPONSIVE---_____________________*/
@media (min-width: 1024px) {
  /*___________PAGE D'ACCUEIL---RESPONSIVE:desktop---___________*/
  %nomargin_extremity {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .howdoesitwork {
    .steps-list {
      flex-direction: row;
    }
    .steps-container {
      @extend %nomargin_extremity;
      width: 31.6%;
      margin-right: 2%;
      .fa-solid {
        left: 9%;
      }
      .fa-laptop {
        display: inline;
        font-size: 20px;
      }
      .fa-mobile-screen-button {
        display: none;
      }
    }
  }

  .restaurants {
    margin-bottom: 60px;
    &-list {
      flex-wrap: nowrap;
    }
    &-container {
      margin: 0 10px;
      @extend %nomargin_extremity;
      img {
        height: 350px;
      }
    }
  }

  /*____________PAGE DU MENU---RESPONSIVE:desktop---____________*/
  header {
    #return {
      left: 1%;
      top: 10px;
      font-size: 25px;
      padding: 10px;
      &:hover {
        border-radius: 25px;
      }
      &-text {
        display: initial;
        margin-left: 10px;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
  .background-menu {
    img {
      height: 500px;
    }
  }
  .menu {
    margin: 0px auto 0px auto;
    .menu-container {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }
    .three_courses {
      margin: 0 1%;
    }
    .order {
      margin: 40px auto;
    }
  }
  .menu-body {
    background-color: transparent;
  }

  /*______________FOOTER---RESPONSIVE:desktop---_____________*/
  footer {
    padding: 50px 0 15px 0;
    margin-top: -50px;
    img {
      width: 200px;
    }
    .footer-container {
      .footer-text {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
        min-width: 992px;
        max-width: 1600px;
      }
      .footer-link {
        margin: 20px 40px 40px 40px;
        .fa-solid {
          left: -20px;
        }
        .margin-left {
          margin-left: 10px;
        }
      }
      p {
        border-bottom: 1px solid #363636;
        margin-left: 10px;
        font-size: 17px;
      }
      a {
        &:hover {
          p {
            border-bottom: white 1px solid;
          }
          .fa-solid {
            color: $secondary;
          }
        }
      }
    }
  }
}
