@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$lighter-grey: #f5f5f5;
$darker-grey: #72727228;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Roboto",
    sans-serif;
}

body {
  color: black;
  min-width: 360px;
}

main {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

%titles {
  font-size: 1.6rem;
  font-weight: 800;
}

@mixin button-style {
  border: none;
  background: linear-gradient(355deg, $primary, 50%, $secondary);
  padding: 17px 22px;
  border-radius: 50px;
  font-size: 1.05rem;
  font-weight: 500;
  box-shadow: 0px 5px 7px #bfbfbf;
  transition: 0.2s;

  a {
    color: white;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 5px 7px #9d9d9d;
    background: linear-gradient(355deg, #9c61e4, 50%, #fd85db);

  }
}

@mixin heart-style {
  position: absolute;
  right: 10px;
  bottom: 32px;
  cursor: pointer;
  background: none;
  stroke: none;

  &--empty {
    z-index: 1;
    fill: transparent;

    &:hover {
      display: none;
    }
  }

  &--filled {
    z-index: 0;
    fill: transparent;
    stroke: #0c0c0c;
    stroke-width: 0.1vw;

    &.remplir {
      fill: url(#text-fill);
      z-index: 1;
      stroke: none;
      animation: scale-up .1s;

      @keyframes scale-up {
        0% {
          transform: scale(0.7)
        }

        100% {
          transform: scale(1)
        }
      }
    }

    &:hover {
      fill: url(#text-fill);
      z-index: 1;
      stroke: none;
      animation: scale-up .1s;

      @keyframes scale-up {
        0% {
          transform: scale(0.7)
        }

        100% {
          transform: scale(1)
        }
      }
    }
  }
}



.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-color: #ffffffc2;
  animation: disappear 50ms 1s forwards;

  &::before {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid $secondary;
    border-bottom: 10px solid $secondary;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: 10;
    animation: spin 1s forwards;
  }

  &::after {
    content: "";

    border: 10px solid transparent;
    border-top: 10px solid $tertiary;
    border-bottom: 10px solid $tertiary;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: 10;
    animation: reversespin 1s forwards;
  }

  .dot {
    background-color: $primary;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: 10;


  }
}

@keyframes spin {
  from {

    transform: rotate(0deg);
  }

  to {

    transform: rotate(360deg);
  }
}

@keyframes reversespin {
  from {

    transform: rotate(0deg);
  }

  to {

    transform: rotate(-450deg);
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}


/*HEADER*/
header {
  position: relative;

  .logo {
    box-shadow: 0 1px 5px #c5c5c5;
    >h1

    /*logo = titre de la page*/
      {
      display: flex;
      justify-content: center;
      width: 200px;
      margin: auto;
      padding: 20px 0 10px 0;

      img {
        width: 175px;
      }

    }
  }

  #return {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 22px;
    color: black;

    &-text {
      display: none;
    }

    &:active {
      color: $secondary;
    }

    &:hover {
      color: $primary;
    }
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #72727228;
    font-size: 17px;
    font-weight: 600;
    color: #343434;

    p {
      margin: 15px;
    }
  }

  .booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    background-color: $lighter-grey;

    h2 {
      @extend %titles;
      padding: 0 9%;
      margin: 10px;
    }

    p {
      margin: 3px;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 5%;
    }

    button {
      @include button-style;
      margin: 30px auto;
    }
  }

}

/*________Section 1: FUNCTIONING________*/
.functioning {
  margin: 40px 4% 40px 5%;

  h3 {
    @extend %titles;
    margin-bottom: 0;
  }

  .steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lighter-grey;
    margin: 25px 1% 25px 3%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.501);
    padding: 20px 0;
    font-size: 17px;
    font-weight: 500;
    position: relative;

    &:hover {
      background-color: rgb(235, 222, 254);
      cursor: pointer;
      box-shadow: 0px 5px 10px rgba(191, 191, 191, 0.853);

      .fa-solid {
        color: $primary;
      }
    }

    p {
      margin: 5px 0;
    }

    .fa-solid {
      color: #777777;
      font-size: 20px;
      position: absolute;
      left: 5%;
    }

    .fa-laptop {
      display: none;
    }

    .steps-numbers {
      background-color: $primary;
      border-radius: 50%;
      color: white;
      padding: 5px 9px;
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      left: -15px;
    }
  }
}

/*_________Section 2: RESTAURANTS_________*/
.restaurants {
  padding: 20px 5% 5% 5%;
  background-color: $lighter-grey;

  h3 {
    @extend %titles;
  }

  &-container {
    position: relative;
    background-color: white;
    border-radius: 15px;
    margin: 0 0 20px 0;
    box-shadow: 0px 3px 10px rgba(191, 191, 191, 0.66);
    transition: 0.4s;


    &:hover {
      transform: scale(1.02);
    }

    &__text {
      margin: 16px 15px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: black;
    }

    h4 {
      margin: 0 0 3px 0;
      font-size: 19px;
      font-weight: 700;
    }

    p {
      margin: 4px 0 0 0;
      font-size: 18px;
      font-weight: 300;
    }

    .new {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: $tertiary;
      padding: 7px 10px 5px 10px;
      border-radius: 3px;
      color: #02934b;
      font-size: 15px;
      font-weight: 500;
    }
  }



  .heart {
    @include heart-style
  }


  img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
}

/*_______________MENU_______________*/
#background {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.menu {
  background-color: $lighter-grey;
  position: relative;
  top: -50px;
  border-radius: 50px 50px 0 0;
  padding: 13px 4%;
  max-width: 1200px;


  .heart {
    @include heart-style;
    position: absolute;
    right: 50px;
    top: 35px;
    cursor: pointer;
  }

  h2 {
    font-family: shrikhand, sans-serif;
    font-size: 28px;
    color: #0c0c0c;
    margin-left: 1%;
    font-weight: 400;
  }

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0c;
    border-bottom: 3px solid $tertiary;
    padding-bottom: 3px;
    width: 40px;
  }

  .three_courses {
    margin-bottom: 40px;
  }

  .courses {
    &-container{
    background-color: white;
    padding: 2px 2.8%;
    margin: 15px 0;
    line-height: 5px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 8px $darker-grey;
   
    overflow: hidden;
      &--delay{
        &1{
          animation: appear  500ms 1s  ease-in-out backwards;
        }
        &2{
          animation: appear  500ms  1.1s ease-in-out backwards;
        }
        &3{
          animation: appear  500ms 1.2s  ease-in-out backwards;
        }
        &4{
          animation: appear  500ms 1.3s  ease-in-out backwards;
        }
        &5{
          animation: appear  500ms 1.4s  ease-in-out backwards;
        }
        &6{
          animation: appear  500ms 1.5s  ease-in-out backwards;
        }
        &7{
          animation: appear  500ms 1.6s  ease-in-out backwards;
        }
        &8{
          animation: appear  500ms 1.7s  ease-in-out backwards;
        }
        &9{
          animation: appear  500ms 1.8s  ease-in-out backwards;
        }
        &10{
          animation: appear  500ms 1.9s  ease-in-out backwards;
        }
      }
    @keyframes appear{
      0%{
        transform:translateY(10px);
        opacity:0
      }
      100%{
        transform:translateY(0);
        opacity:1
      }
    }
    &:hover{
      cursor: pointer;
      p{
        text-overflow: ellipsis;
      }
      .check-animation{
        display: initial;
        height: 62px;
        width: 60px;
        background-color: $tertiary;
        position: absolute;
        z-index: 20;
        right: 0;
        bottom: 0px;
        border-radius: 0 10px 10px 0;
        animation: check .5s ease-in-out both;
        @keyframes check{
          0%{
            transform:scaleX(0);
            transform-origin:100% 100%;
            opacity:1
          }
          100%{
            transform:scaleX(1);
            transform-origin:100% 100%;
            opacity:1
          }
      }
      .fa-solid{
        color: white;
        padding: 21px 19px ;
        font-size: 20px;
        animation: rotate 1.2s;
        @keyframes rotate{
          0%{
            transform:rotate(0);
          }
          100%{
            transform:rotate(360deg);
          }
        }
      }

      }
      .price{
        animation: price-slide .5s 100ms  both
      }
      @keyframes price-slide{
        0%{
          transform:translateX(0);
        }
          100%{
            transform:translateX(-50px);
          }
        }
    }
    .check-animation{
      display: none;
    }

    
    

  
    .price {
      
      font-weight: 600;
      position: absolute;
      right: 10px;
      bottom: 0px ;
      padding: 28px 10px 18px 10px;
      color: #363636;
      background-color: white;
    }
  }
    &-name {
      font-size: 17px;
      font-weight: 600;
    }
    &-description {
      font-size: 14px;
      font-weight: 400;
    }
  }
  button {
    @include button-style;
    display: flex;
    margin: 40px auto;
    padding: 17px 50px;
  }
}
  


/*___________FOOTER__________*/
footer {
  background-color: #363636;
  padding: 30px 25px 15px 25px;

  .footer-link {
    position: relative;

    .margin-left {
      margin-left: 7%;
    }
  }

  .footer-text {
    margin-bottom: 30px;

  }

  img {
    color: white;
    width: 100px;
    margin-bottom: 10px;
  }

  .fa-solid {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 0px;
  }

  a p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 6px 0;
  }

  p {
    font-size: 12px;
    color: #bcbcbc;
    margin-bottom: 0;
    text-align: center;
  }
}

/*_________________---RESPONSIVE---__________________*/

/*_____________Version Tablet---RESPONSIVE---___________*/
@media (min-width:500px) {

  /*____________PAGE D'ACCUEIL---RESPONSIVE:tablet---__________*/
  .functioning {
    .steps-container {
      .fa-solid {
        font-size: 25px;
        left: 17%;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .restaurants {
    background-color: transparent;
    padding: 0 5% 3% 5%;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-container {
      width: 48%
    }
  }

  /*______________FOOTER---RESPONSIVE:tablet---_____________*/
  .footer-container {
    .footer-text {
      width: 200px;

      .fa-solid {
        left: -10px;
      }
    }

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .margin-left {
      margin-left: 200%;
    }
  }

  /*____________PAGE DU MENU---RESPONSIVE:tablet---____________*/
  #background {
    img {
      height: 500px;

    }
  }
}

/*____________________Version Desktop---RESPONSIVE---_____________________*/
@media (min-width:1024px) {

  /*___________PAGE D'ACCUEIL---RESPONSIVE:desktop---___________*/
  .functioning {
    .steps-list {
      display: flex;
    }

    .steps-container {
      width: 40%;

      &--no_margin_left {
        margin-left: 0;
      }

      &--no_margin_right {
        margin-right: 0;
      }

      .fa-solid {
        left: 9%;
      }

      .fa-laptop {
        display: inline;
        font-size: 20px
      }

      .fa-mobile-screen-button {
        display: none;
      }
    }
  }

  .restaurants {
    margin-bottom: 60px;

    &-list {
      flex-wrap: nowrap;
    }

    &-container {
      margin: 0 10px;

      img {
        height: 350px;
      }

      &--no_margin_left {
        margin-left: 0;
      }

      &--no_margin_right {
        margin-right: 0;
      }
    }
  }

  /*____________PAGE DU MENU---RESPONSIVE:desktop---____________*/
  header {
    #return {
      left: 1%;
      top: 10px;
      font-size: 25px;
      padding: 10px;

      &:hover {
        border-radius: 25px;
      }

      &-text {
        display: initial;
        margin-left: 10px;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  #background {
    img {
      height: 600px;
    }
  }

  .menu {
    margin: -100px auto -0px auto;

    .menu-container {
      display: flex;

    }

    .three_courses {
      width: 33%;
      margin: 0 1%;
    }
  }

  /*______________FOOTER---RESPONSIVE:desktop---_____________*/
  footer {
    padding: 50px 0 15px 0;
    margin-top: -50px;

    img {
      width: 200px;
    }

    .footer-container {
      .footer-text {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
        min-width: 992px;
        max-width: 1600px;
      }

      .footer-link {
        margin: 20px 40px 40px 40px;

        .fa-solid {
          left: -20px;
        }

        .margin-left {
          margin-left: 10px;
        }
      }

      p {
        border-bottom: 1px solid #363636;
        margin-left: 10px;
        font-size: 17px;
      }

      a {
        &:hover {
          p {
            border-bottom: white 1px solid;
          }

          .fa-solid {
            color: $secondary;
          }
        }
      }
    }
  }
}